services:
  - type: web
    name: nutriluna-backend
    env: node
    buildCommand: cd Backend && npm install
    startCommand: cd Backend && node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5001
      - key: CORS_ORIGIN
        value: "*"
      - key: FIREBASE_API_KEY
        value: "AIzaSyAr--QBGH8ed01xXD9VTKm7LGdve8JAIZw"
      - key: FIREBASE_AUTH_DOMAIN
        value: "nutri-luna.firebaseapp.com"
      - key: FIREBASE_PROJECT_ID
        value: "nutri-luna"
      - key: FIREBASE_STORAGE_BUCKET
        value: "nutri-luna.firebasestorage.app"
      - key: FIREBASE_MESSAGING_SENDER_ID
        value: "75642002726"
      - key: FIREBASE_APP_ID
        value: "1:75642002726:web:6b82ca7f749826d127f5e7"
      - key: NODE_OPTIONS
        value: "--max-old-space-size=4096"
    healthCheckPath: /api/health
    autoDeploy: true

  - type: web
    name: nutriluna-frontend
    env: node
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: VITE_API_URL
        value: https://nutriluna-backend.onrender.com
      - key: PORT
        value: 5173
      - key: VITE_FIREBASE_API_KEY
        value: "AIzaSyAr--QBGH8ed01xXD9VTKm7LGdve8JAIZw"
      - key: VITE_FIREBASE_AUTH_DOMAIN
        value: "nutri-luna.firebaseapp.com"
      - key: VITE_FIREBASE_PROJECT_ID
        value: "nutri-luna"
      - key: VITE_FIREBASE_STORAGE_BUCKET
        value: "nutri-luna.firebasestorage.app"
      - key: VITE_FIREBASE_MESSAGING_SENDER_ID
        value: "75642002726"
      - key: VITE_FIREBASE_APP_ID
        value: "1:75642002726:web:6b82ca7f749826d127f5e7"
      - key: NODE_OPTIONS
        value: "--max-old-space-size=4096"
    healthCheckPath: /
    autoDeploy: true
