/* body {
        font-family: Arial, sans-serif;
        background-color: var(--primary-red);
        color: var(--text-color);
        margin: 0;
        padding: 0;
        margin-top: 110px;
      } */
      
      .indicator {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 5px;
        z-index: 60;
        background-color: #ecad29; /* Corrected variable usage */
      }
      
      .container {
        max-width: 600px;
        margin: 2rem auto;
        padding: 1.5rem;
        background-color: var(--card-bg);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin-top: 7rem;
      }
      
      h1 {
        text-align: center;
        color: var(--primary-red);
      }
      
      .dark-red {
        background-color: #8b0000; /* Dark red color */
        color: white;
      }
      
      lab-period {
        display: block;
        margin: 1rem 0 0.5rem;
        color: var(--dark-text);
      }
      
      input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid var(--light-text);
        border-radius: 5px;
        background-color: var(--white);
        color: var(--dark-text);
        margin-bottom: 1rem;
      }
      
      button {
        width: 100%;
        padding: 0.75rem;
        border: none;
        border-radius: 5px;
        background-color: var(--btn-bg);
        color: var(--text-color);
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      button:hover {
        background-color: var(--btn-hover-bg);
      }
      
      .calendar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        color: var(--dark-text);
        gap: 15px;
        margin-top: 5px;
      }
      
      .calendar {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
      }
      
      .day {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--white);
        color: var(--dark-text);
        border-radius: 5px;
        font-size: 0.9rem;
      }
      
      .period-day {
        background-color: #610909; /* Dark red for past periods */
        color: white;
      }
      
      .next-period {
        background-color: #ff9999; /* Lighter red for predicted periods */
        color: white;
      }
      
      .period {
        background-color: var(--primary-red);
        color: var(--text-color);
      }